/* 
Is a freelancer who just likes to rewrite and adapt old themes to make them workable for OctoberCMS. 
If you have a theme that needs to be adapted for use in OctoberCMS,
please let me know. I will convert it for a small fee. 
Visit my website at NvandenDries.nl

This is a Custom add-on to the official Foundation CSS file
*/

:root {
  /* Theme Colors */
  --primary: #F4E409;
  --primary-hover: #EEBA0B;
  --primary-text: #424242;
  --secondary: #336699;
  --secondary-hover: #86BBD8;
  --background-global: #000000;
  --nav-back-pri: #424242;
  /* RGB Colors */
  --red: red;
  --green: green;
  --blue: blue;
  --black: black;
}

a {
  color: var(--primary);
  font-size: 1.2em;
}

a:hover {
  color: var(--primary-hover);
  font-size: 1.2em;
}

p {
  color: var(--primary);
  font-size: 1.2em;
}

body {
  background-color: var(--background-global);
  font-family: "Oswald", sans-serif !important;
}

.top-bar {
  background-color: var(--nav-back-pri);
}
.top-bar ul {
  background-color: var(--nav-back-pri); 
}

.top-bar-left {
  padding-left: 200px;
}

.menu {
  background-color: var(--nav-back-pri);
}

.menu .menu-text {
  color: var(--primary); 
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.card {
  border-radius: 2px;
  padding: 5px;
  background-color: var(--nav-back-pri);
  border: 0px solid var(--black);
}